@{
    ViewData["Title"] = "Login";
}
@model bank.Models.LoginViewModel

<div class="row">
  <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
       <form action="login" method="post">
         <h1>Login</h1>
        <div class="form-group mt-5">
            <label asp-for="Email"></label>
            <input type="text" class="form-control"  asp-for="Email">
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" class="form-control" asp-for="Password">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
        <button type="submit" class="btn btn-success ml-auto">Sign In</button>
    </form>
  </div>
    <div class="col ml-5"> 
        <a href="/">Need to Register?</a>
    </div>
</div>













